# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = false

[{Dockerfile,*.dockerfile}]
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 100
trim_trailing_whitespace = false

[*.md]
indent_size = 2
insert_final_newline = true
max_line_length = 90
trim_trailing_whitespace = true
x-soft-wrap-text = true

[{Makefile*,*.mk}]
indent_size = 8
indent_style = tab
insert_final_newline = true

[*.yaml]
indent_size = 2
max_line_length = 120
insert_final_newline = true