# ----------------------------------------------------------
# GENERAL
# ----------------------------------------------------------

*.swp

*.full
*.extra

# ----------------------------------------------------------
# PROJECT
# ----------------------------------------------------------

tests/*.pdf
TODO.md
